<tr id="sample<%= sample.id %>">
  <td><%= link_to("Sample #{sample.id}", sampler.sample_path(sample)) %></td>
  <td><%= sample.url %></td>
  <td><%= sample.params %></td>
  <td><%= sample.tags %></td>
  <td><%= link_to("Delete sample", sampler.sample_path(sample), method: :delete) %></td>
  <td><%= check_box_tag("samples[#{sample.id}][id]") %></td>
</tr>
