<tr id="sample<%= sample.id %>">
  <td><%= link_to("Sample #{sample.id}", sampler.sample_path(sample)) %></td>
  <td><%= sample.url %></td>
  <td><%= sample.params %></td>
  <td><%= sample.tags %></td>
</tr>
