<br>
<table id="grouped_samples">
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Request Method</th>
      <th>Count</th>
      <th>Sampled?</th>
      <th>Delete</th>
  </thead>
  <tbody>
    <% @samples.each do |endpoint, request_method, count, sampled| %>
      <tr>
        <td><%= count.zero? ? endpoint : link_to(endpoint, sampler.samples_path(endpoint: endpoint, request_method: request_method)) %></td>
        <td><%= request_method %></td>
        <td><%= count %></td>
        <td><%= sampled %></td>
        <td><%= button_to 'Delete', sampler.all_samples_path(endpoint: endpoint, request_method: request_method),
            method: :delete, data: { confirm: "Really delete samples for #{request_method} #{endpoint}?" }  if count > 0%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Delete all samples', sampler.all_samples_path, method: :delete, data: { confirm: "Really delete all samples?" } %>
