<tr id="sample<%= sample.id %>">
  <td><%= link_to("Sample #{sample.id}", sample) %></td>
  <td><%= sample.url %></td>
  <td><%= sample.method %></td>
  <td><%= sample.params %></td>
  <td><%= sample.tags %></td>
</tr>
