<h2>Sample <%= @sample.id %></h2>
Url: <%= @sample.url %>
<br>
Method: <%= @sample.method %>
<br>
Tags: <%= @sample.tags %>
<br>
Params: <%= @sample.params %>
<br>
Request_body: <pre style="background-color:#E6E6FA"> <%= @sample.request_body %> </pre>
<br>
Response_body: <pre style="background-color:#E6E6FA"><%= @sample.response_body %></pre>
